@using System.Security.Cryptography
@using Microsoft.AspNet.Identity
@model IEnumerable<Contests.App.Models.ViewModels.ContestViewModel>
@{
    ViewBag.Title = "Contest details";
}


<div class="grid col-md-4">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        @Html.DisplayForModel()
    </div>

    <div class="row">
        @if (@Model.First().OrganozatorId == HttpContext.Current.User.Identity.GetUserId())
        {
            <div class="btn-group btn-group-justified">
                @Html.ActionLink("Edit Contest", "Edit", "Contest", routeValues: new { id = @Model.First().Id, area = "" }, htmlAttributes: new { @class = "btn btn-warning", title = "Edit contest" })
                @Html.ActionLink("Finalize", "Finalize", "Contest", routeValues: new { id = @Model.First().Id, area = "" }, htmlAttributes: new { @class = "btn btn-success", title = "Finalize constest" })
                @Html.ActionLink("Dismiss", "Dismiss", "Contest", routeValues: new { id = @Model.First().Id, area = "" }, htmlAttributes: new { @class = "btn btn-danger", title = "Dismiss contest" })

            </div>
        }
    </div>

    @if (Model.First().CanParticipate)
    {
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Upload photo", "Upload", "Photo", routeValues: new { id = Model.First().Id, area = "" }, htmlAttributes: new { @class = "btn btn-primary", title = "Upload photo" })
            </div>
        </div>
    }

</div>


<div class="col-md-8">
    <div class="row">
        <div class="col-md-12">

            @if (Model.First().HasVoted)
            {
                <h4>You have allready voted for this contest</h4>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @foreach (var photo in @Model.First().Photos)
            {
                <div class="col-md-5">
                    <div class="col-md-12 photo-contests-photo-wrapper">
                        <div class="photo-contest-photo">
                            <a href="@photo.Url" data-lightbox="roadtrip">
                                <img src="@photo.Url" class="gallery-item" width="300" />
                            </a>
                        </div>
                        <div class="photo-contest-photographer">
                            @Html.ActionLink(photo.Owner.FullName, "Details", "Users", routeValues: new {id = photo.OwnerId, area = ""}, htmlAttributes: new {title = "Photographer profile"})
                            <div class="photo-contest-category">@*@photo.Contest.Category.Name*@ Category</div>
                        </div>
                    </div>

                    <div class="col-md-12">

                        @if (@Model.First().CanVote && !@Model.First().HasVoted && photo.OwnerId != this.User.Identity.GetUserId())
                        {
                            using (Ajax.BeginForm("Vote", "Contest", new {photoId = photo.Id, contestId = photo.ContestId}, new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = string.Format("photo-{0}-votes", photo.Id)
                            }, htmlAttributes: new {@class = "inline-item"}))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" name="name" value="+" class="btn btn-success"/>
                            }
                        }

                        @if (photo.OwnerId == this.User.Identity.GetUserId() || HttpContext.Current.User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("X", "Delete", "Photo", routeValues: new {id = photo.Id}, htmlAttributes: new {@class = "inline-item btn btn-danger", @title = "Delete photo?"})
                        }

                        <div class="inline-item">
                            <h3>Votes: <span id="photo-@photo.Id-votes">@photo.VotesCount</span></h3>
                        </div>
                        <hr/>
                    </div>

                </div>
            }
        </div>
    </div>
</div>