@model Contests.App.Areas.Admin.Models.BindingModels.UserEditBindingModel

@{
    ViewBag.Title = "Edit User";
}

<h2>Edit User</h2>

@using (Html.BeginForm("EditDetails", "Users", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control"})

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control"})
        </div>
    </div>
    @*if (@Model.ProfilePhotoUrl != null)
    {
        <div class="media-top">
            <a href="#">
                <img src="@Model.ProfilePhotoUrl" class="media-object" width="250" alt="profile picture">
            </a>
        </div>
    }
    <div class="form-group">
        @Html.Label("Picture", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="Picture" name="upload" />
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Edit" />
            @Html.ActionLink("Cancel", "Index", new { area = "Admin" }, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}