@using MvcPaging
@model IPagedList<Contests.App.Areas.Admin.Models.ViewModels.UserViewModel>
    @{
        ViewBag.Title = "User page";
    }
    <h1>Users</h1>

    @using (Html.BeginForm("Index", "Users", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-4">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" name="user_fullname" placeholder="Full name ..." value="@TempData["user_fullname"]" />
                        <span class="input-group-btn">
                            <a class="btn btn-default search-clear" href="@Url.Action("Index")" title="Clear">
                                Clear
                            </a>
                            <button class="btn btn-info" type="submit">
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
	    </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>N</th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Role)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0; }
                @foreach (var item in Model)
                {
                    i += 1;
                    var n = i + (@Model.PageNumber - 1) * @Model.PageSize;
                    <tr>
                        <td>
                            @n
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.ActionLink("Edit details", "EditDetails", new { id = item.Id }) |
                            @Html.ActionLink("Change Role", "ChangeRole", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="pager">
            @Html.Raw(Html.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "", Previous = "", First = "", Last = "" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page {0}", Previous = "Previous page {0}", Page = "Go to page {0}" },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                IsShowPages = true
            }, new { user_fullname = TempData["user_fullname"] }))
        </div>
    }
